name: Build Android APK
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Node.js (Versão 22)
        uses: actions/setup-node@v4
        with:
          node-version: 22 # Corrigido para a exigência do Capacitor

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build --if-present

      - name: Capacitor Sync
        run: npx cap sync android

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
